<div class="inpect-left">
    <div class="inpect-area">
        <div class="inpect-area-title">Topolr</div>
        <div class="inpect-area-list">
            <div class="inpect-area-list-item" title="Page Inspect" action="pageinspect">
                <div class="inpect-area-list-item-a"><i class="fa fa-cubes"></i></div>
                <div class="inpect-area-list-item-b">Page Inspect</div>
            </div>
        </div>
    </div>
    <div class="inpect-area">
        <div class="inpect-area-title">Topolr-builter</div>
        <div class="inpect-area-list">
            <div class="inpect-area-list-item" title="Builter Monitor" action="result">
                <div class="inpect-area-list-item-a"><i class="fa fa-tachometer"></i></div>
                <div class="inpect-area-list-item-b">Builter Monitor</div>
            </div>
        </div>
    </div>
    <div class="inpect-area">
        <div class="inpect-area-title">Tools</div>
        <div class="inpect-area-list">
            <div class="inpect-area-list-item" title="Node Inspect Watcher" action="nodeinspectwatcher">
                <div class="inpect-area-list-item-a"><i class="fa fa-eye"></i></div>
                <div class="inpect-area-list-item-b">Inspect Watcher</div>
            </div>
        </div>
    </div>
</div>
<div class="inpect-right"></div>