<div class="inpect-tab-body-tab make">
    <div class="inpect-tab-body-tab-inner">
        <div class="inpect-tab-body-tab-desc">
            <i class="fa fa-arrow-circle-right"></i> run node with --inspect flag
        </div>
        <div class="inpect-tab-body-tab-desc">
            <i class="fa fa-arrow-circle-right"></i> or run node with --inspect --debug-brk flag
        </div>
    </div>
    <div class="inpect-tab-body-tab-inner-b">
        <div class="inspect-tab-body-table"></div>
        <div class="inspect-tab-body-state" style="padding-left:0;">
            <div class="inspect-tab-body-btn"><i class="fa fa-plus"></i></div>
            <div class="inspect-tab-body-total">1/5 watchers</div>
        </div>
        <div class="inspect-tab-body-form"></div>
    </div>
</div>